[Unit]
Description=Digabi 2 HTTPD/NCSI Server

[Service]
ExecStart=/usr/bin/python3 /usr/local/sbin/ytl-linux-digabi2-ncsi-srv
WorkingDirectory=/tmp
StandardOutput=append:/dev/null
StandardError=append:/dev/null
Restart=always

[Install]
WantedBy=multi-user.target
