on:
  push:
    tags:
    - 'v*'

name: Build and upload image
jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build installation image
        run: |
          ./build-ytl-image
      - name: Look up AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1
      - name: Copy file with the AWS CLI
        run: |
          aws s3 cp ytl-install.iso s3://ytl-linux
